.bg {
    background-color: #FFFFFF;
    width: 48px;
    height: 48px;
  }

.colorNavbar{ 
    background-color: #29B6FF;
}
.logo {
    background-color: #FFFFFF;
  }
.font{
  font-size: 12px;
}
.lineStyle{
  background-color: #FFFFFF;
  box-shadow: inset 0 -1px 0 0 #CAD4DC;
}
.page-color{
  background-color: #CAD4DC;
  width: 100%;
}
header{
  height: 60px;
 }
 .navSize{
  width:100%;
 }
 .page-test {
  color: #596270;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-left: 15px;
}
.highcharts-figure, .highcharts-data-table table {
  min-width: 320px; 
  max-width: 1250px;
  margin: 1em auto;
}

.highcharts-data-table table {
font-family: Verdana, sans-serif;
border-collapse: collapse;
border: 1px solid #EBEBEB;
margin: 10px auto;
text-align: center;
width: 100%;
max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
.mask {
  background-color: #FFFFFF;
  border: 1px solid rgba(117, 126, 143, 0.25);
  border-radius: 2px;
  width: 100%;
  height: 320px;
}
.bg2 {
  margin-left: 50px;
  width:92.5%;
}
.bg3{
  margin-right: 15px;
  width:92.5%;
}
.tall{
  height: 430px;
}
.location{
  color: #3E4B5B;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-left:5px;
}
.vehicle{
  color: #3E4B5B;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-left:5px;
}
.volkswagen{
  color: #3E4B5B;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-left:5px;
}
.help {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  padding-left: 10px;
  padding-right: 15px;
}
.img{
  margin-left: 13px;
}
.support{
  color: #FFFFFF;
  font-family: Arial;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  padding-left: 10px;
  padding-right: 15px;
}
.admin {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.46px;
  text-align: right;
  padding-left: 13px;
  padding-right: 5px;
}
.line {
  background-color: #000000;
  opacity: 0.25;
  width: 1px;
  height: 28px;
}
.itens{
  background-color: #F1F4F6;
}